.page-title{
  padding: 1.5rem;
}
.title{
  color: #363636;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
}
.stats{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: $default-padding * 1.5;
  &-child{
    // margin: $default-padding * .5;
    flex-basis:100%;
    // margin-bottom: 0 !important ;
  }
}
@include tablet{
  .stats-child{
    // margin: $default-padding * .5;
    flex-basis: 24%;
    // margin-bottom: 0 !important ;
  }
}

.b-tabs .tab-content{
  background: #fff;

  .card{
    border: none
    ;
    
  }
}
.tabs li.is-active a{
  color: $primary;
}

.b-radio.radio:not(.button){
  margin-left: .5rem;
}
.flex-wrap{
  flex-wrap: wrap !important;
}
.tab-content{
  border-right:1px solid #dbdbdb;
  border-left:1px solid #dbdbdb;
 
}
.applicant-filter .multiselect__option--highlight,.multiselect__tag{
  background: $info !important;
  &::after{
  background: $info !important;

  }
}